{% extends "Geeker/base.html" %}
{% load geeker_extras %}
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <h2>Geek Pool: <small>{{ geek_count }} geeks are waiting for you to hire them!</small></h2>
            {% for profile in latest_profiles %}
                <div class="col-md-4">
                    <div class="thumbnail profile">
                    {% if profile.image %}
                        <div class="profile-picture" style="background-image: url({{ profile.image.url }});" alt="..."></div>
                    {% endif %}
                    <div class="caption">
                        <h3><a href="/geeker/profile/{{ profile.id }}">{{ profile.get_full_name }}</a>
                        <br><small class="rating">
                            {% if profile.get_rating %}
                                {% for star in profile.get_rating|rating|get_range %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                            {% else %}
                                no rating yet!
                            {% endif %}
                        </small>
                        </h3>
                        <p>{{ profile.info|truncatewords:20 }}</p>
                        {% if profile.date_of_birth %}
                            Age: {{ profile.date_of_birth|age }}
                        {% endif %}
                        {% if profile.available %}
                            <span class="glyphicon glyphicon-ok-circle available"></span>
                        {% endif %}
                        <button class="btn btn-success" id="rec_{{ profile.id }}" onclick="recruit({{ profile.id }})">Recruit <span class="glyphicon glyphicon-plus"></span></button>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    Sorry, no geekers avilable!
                </div>
            {% endfor %}
            <br/>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="/geeker/recruit/{{ current }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for page in pages %}
                        {% if page == current %}
                            <li class="active"><a href="/geeker/recruit/{{ page }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="/geeker/recruit/{{ page }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="/geeker/recruit/{{ current }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-4 bg-grey">
            <h2>Your Geeks</h2>
            {% for profile in user.freelancers.all %}
                <div class="thumbnail profile">
                    {% if profile.image %}
                        <div class="profile-picture" style="background-image: url({{ profile.image.url }});" alt="..."></div>
                    {% endif %}
                    <div class="caption">
                        <h3><a href="/geeker/profile/{{ profile.id }}">{{ profile.get_full_name }}</a>
                        <br><small class="rating">
                            {% if profile.get_rating %}
                                {% for star in profile.get_rating|rating|get_range %}
                                    <span class="glyphicon glyphicon-star"></span>
                                {% endfor %}
                            {% else %}
                                no rating yet!
                            {% endif %}
                        </small>
                        </h3>
                        <p>{{ profile.info|truncatewords:20 }}</p>
                        {% if profile.date_of_birth %}
                            Age: {{ profile.date_of_birth|age }}
                        {% endif %}
                        {% if profile.available %}
                            <span class="glyphicon glyphicon-ok-circle available"></span>
                        {% endif %}
                        <button class="btn btn-danger" id="fire_{{ profile.id }}" onclick="fire({{ profile.id }})">Fire</button>
                    </div>
                </div>
            {% empty %}
                <div class="col-md-12">
                    Sorry, no geekers avilable!
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}